<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="ur5_robotiq" >
  <!-- this code has never  been used and should not be used - we just started writing it, but stopped halfway through -->

  <!-- common stuff -->
  <xacro:include filename="$(find ur_description)/urdf/gazebo.urdf.xacro" />

  <!-- ur5 -->
  <xacro:include filename="$(find ur_description)/urdf/ur5_joint_limited.urdf.xacro" />

  <!-- arm -->
  <xacro:ur5_robot prefix="">
  </xacro:ur5_robot>

  <!-- robotiq_2_finger -->
  <xacro:include filename="$(find robotiq)/robotiq_c_model_visualization/models/robotiq_c_model.urdf" />

  <!-- joint that attaches to connector plate -->
  <joint name="ee_fixed_joint" type="fixed">
    <parent link="ee_link"/>
    <child link="robotiq_85_adapter_link"/>
    <origin rpy="0.0 0.0 1.570796325" xyz="0.0 0.0823 0.0"/>
  </joint>

  <!-- joint to world -->
  <joint name="world_joint" type="fixed">
    <parent link="world"/>
    <child link="robotiq_85_adapter_link"/>
    <origin rpy="0.0 0.0 1.570796325" xyz="0.0 0.0823 0.0"/>
  </joint>  


</robot>
