<launch>
  <arg name="sim" default="false" />
  <arg name="limited" default="true"/>
  <arg name="debug" default="false" />
  <arg name="enable_reconfig" default="false"/>
  <arg name="joint_range_4pi" default="true"/>

  <!-- Remap follow_joint_trajectory -->
  <remap if="$(arg sim)" from="/follow_joint_trajectory" to="/arm_controller/follow_joint_trajectory"/>
  
  <!-- Launch moveit -->
  <include file="$(find ur5_moveit_config)/launch/ready_move_group_stand_teachmate.launch">
    <arg name="limited" default="$(arg limited)"/>
    <arg name="debug" default="$(arg debug)" />
    <arg name="joint_range_4pi" value="$(arg joint_range_4pi)"/>
  </include>

  <!-- Launch manipulability server -->
  <include file="$(find ready_motion_planning)/launch/manipulability.launch"/>

  <!-- Launch blend radius server -->
  <include file="$(find ready_motion_planning)/launch/blendradius.launch"/>

  <!-- Launch motion planning reconfig -->
  <include if="$(arg enable_reconfig)" file="$(find ready_motion_planning)/launch/motion_planning_reconfig.launch"/>

</launch>
